# Игнорировать папку обработанных видео
video_term_mp4/

# Игнорировать папку обработанных файлов .ptw
num_py_convert__DELLL/

__pycache__/

num_py_convert_new/

ptw/

processing_progress/

Termogramm_analizator copy.ipynb
Termogramm_analizator.ipynb

CSV/

thermograms_all_in_one/
thermograms_data/
thermograms_all_in_one_normalized/
thermograms_all_in_one_normalized_smooth/
thermograms_TEST_ZONE_CUT_normalized_smooth/
cnn_data/
cnn_data_MULTICLASS/
Fin_exp_models/
Progress_Streaming_Processing/Data/PTW/
Data/NumPy_convert/
Data/Filtered/
*.npy
*.ptw
